.custom-calendar .ant-picker-panel-container {
    background-color: white !important;
    /* Kalendar asosiy foni */
}

.custom-calendar .ant-picker-calendar {
    background-color: white !important;
    color: black !important;
}

.custom-calendar .ant-picker-cell {
    background-color: white !important;
    color: black !important;
}

.custom-calendar .ant-picker-calendar-date {
    background-color: white !important;
    color: black !important;
}

.custom-calendar .ant-picker-calendar-date-content {
    background-color: white !important;
    color: black !important;
}

.custom-calendar .ant-picker-calendar-header {
    background-color: white !important;
    color: black !important;
}

.custom-calendar .ant-picker-calendar-tbody td {
    background-color: white !important;
    color: black !important;
}

.custom-calendar .ant-picker-calendar-mode-switch,
.custom-calendar .ant-picker-calendar-month-select,
.custom-calendar .ant-picker-calendar-year-select {
    background-color: white !important;
    color: black !important;
}

.custom-calendar .ant-picker-content th {
    background-color: white !important;
    color: black !important;
}