@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-checkbox .ant-checkbox-inner {
  background-color: white !important;
  border-color: black !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: black !important;
  border-color: black !important;
}
